* {
    margin:0;
    padding:0;
}

body{
    background-color: #121417;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin:0;
}

.star{
    text-align: left;
    margin-bottom: 30px;
}

.card{
    background: #1f232a;
    border-radius: 20px;
    padding: 30px;
    width: 350px;
    height: 350px;

}

.card h2{
    margin-bottom: 20px;
    text-align: left;
    font-size: 30px;
}

.card p{
    font-size: 20px;
    color: #a0a0a0;
    margin-bottom: 20px;
    text-align: left;
}

.boton{
    background-color: #262f38;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color:white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.submit{
    background-color: orange;
    border: none;
    width: 100%;
    height: 55px;
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
